audit/res/auditconfiguration.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio 6.1.18.0 - FREE Community Edition (http://www.liquid-technologies.com)-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Rule">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" ref="Driver" />
      </xs:sequence>
      <xs:attribute name="ruleId" type="xs:string" />
      <xs:attribute name="severity" type="Severity" use="required" />
      <xs:attribute name="status" type="ActivationStatus" />
    </xs:complexType>
  </xs:element>
  <xs:element name="Configuration">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="RuleGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="Severity">
    <xs:restriction base="xs:string">
      <xs:enumeration value="error" />
      <xs:enumeration value="warning" />
      <xs:enumeration value="tip" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Driver">
    <xs:complexType>
      <xs:attribute name="class" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="RuleGroup">
    <xs:complexType>
      <xs:sequence minOccurs="1" maxOccurs="unbounded">
        <xs:element ref="Rule" />
      </xs:sequence>
      <xs:attribute default="others" name="category" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="ActivationStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="enabled" />
      <xs:enumeration value="disabled" />
      <xs:enumeration value="obsolete" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>